.App {
  text-align: center;
}

#heading {
  border: 1px black solid;
  padding: 2% 2%;
  color: #ffffff;
  background-color: #263238;
}

.spinner-grow {
  position: relative;
  left: 40%;
  margin-top: 15%;
}

.container {
  background-color: #eceff1;
}

.pagination {
  margin-left: 27%;
  padding-bottom: 1%;
}
